* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   background-image: url('images/bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   font-size: 1rem;
   color: #333;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

h1 {
   margin-bottom: 1.5rem;
}

.slider__wrapper {
   height: 32rem;
   width: 40rem;
   padding: 1.5rem;
   background-color: #333;
}


.slider {
   height: 30rem;
   width: 40rem;
   overflow: hidden;
}

.slider__item {
   height: 0;
   width: 0;
   opacity: 0;
   transition: all 0.8s;
}

.slider__item img {
   height: 30rem;
}

input[type="radio"] {
   display: none;
}

.slider__panel {
   display: flex;
   justify-content: space-between;
   margin-top: 0.7rem;
}

.text {
   color: #fff;
   opacity: 0;
   width: 0;
   height: 0;
   transition: all 0.8s;
}

.controls {
   display: flex;
   justify-content: end;
   margin-top: -0.7rem;
}

.controls label {
   cursor: pointer;
   height: 1.25rem;
   margin: 0.5rem;
   width: 1.25rem;
   padding: 0.5rem;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

label span {
   border-radius: 50%;
   width: 0.6rem;
   height: 0.6rem;
   border: 0.06rem solid #000;
   transition: all 0.5s;

}

#slide1:checked~.slider__panel>.controls>label:nth-of-type(1)>span,
#slide2:checked~.slider__panel>.controls>label:nth-of-type(2)>span,
#slide3:checked~.slider__panel>.controls>label:nth-of-type(3)>span,
#slide4:checked~.slider__panel>.controls>label:nth-of-type(4)>span,
#slide5:checked~.slider__panel>.controls>label:nth-of-type(5)>span {
   background-color: #000;
}

#slide1:hover~.slider__panel>.controls>label:nth-of-type(1)>span,
#slide2:hover~.slider__panel>.controls>label:nth-of-type(2)>span,
#slide3:hover~.slider__panel>.controls>label:nth-of-type(3)>span,
#slide4:hover~.slider__panel>.controls>label:nth-of-type(4)>span,
#slide5:hover~.slider__panel>.controls>label:nth-of-type(5)>span {
   border: 0.06rem solid #fff;
}

#slide1:active~.slider__panel>.controls>label:nth-of-type(1)>span,
#slide2:active~.slider__panel>.controls>label:nth-of-type(2)>span,
#slide3:active~.slider__panel>.controls>label:nth-of-type(3)>span,
#slide4:active~.slider__panel>.controls>label:nth-of-type(4)>span,
#slide5:active~.slider__panel>.controls>label:nth-of-type(5)>span {
   border: 0.06rem solid red;
}

#slide1:checked~.slider>.item1,
#slide2:checked~.slider>.item2,
#slide3:checked~.slider>.item3,
#slide4:checked~.slider>.item4,
#slide5:checked~.slider>.item5 {
   width: 40rem;
   height: 30rem;
   opacity: 1;
}

#slide1:checked~.slider__panel>.slider__text>#text1,
#slide2:checked~.slider__panel>.slider__text>#text2,
#slide3:checked~.slider__panel>.slider__text>#text3,
#slide4:checked~.slider__panel>.slider__text>#text4,
#slide5:checked~.slider__panel>.slider__text>#text5 {
   width: 18rem;
   height: 1.5rem;
   opacity: 1;
}