* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   background-image: url('images/bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   font-size: 1rem;
}

.slider__wrapper {
   height: 500px;
   width: 600px;
   margin: 50px auto 0;
   position: relative;
}


.slider {
   background-color: #333;
   height: inherit;
   width: inherit;
   overflow: hidden;
}

.slider__item {
   height: 0;
   width: 0;
   opacity: 0;
   transition: all 0.8s;
}

.slider__item img {
   height: 480px;
}

.slider__item p {
   color: #fff;
   opacity: 0;
   transition: all 0.8s;
}

input[type="radio"] {
   display: none;
}

.controls {
   display: flex;
   justify-content: end;
}

.controls label {
   cursor: pointer;
   height: 20px;
   margin: 10px;
   width: 20px;
   padding: 10px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

label span {
   border-radius: 50%;
   width: 10px;
   height: 10px;
   border: 1px solid #000;
   transition: all 0.5s;

}

#slide1:checked~.controls>label:nth-of-type(1)>span,
#slide2:checked~.controls>label:nth-of-type(2)>span,
#slide3:checked~.controls>label:nth-of-type(3)>span,
#slide4:checked~.controls>label:nth-of-type(4)>span,
#slide5:checked~.controls>label:nth-of-type(5)>span {
   background-color: #000;
}

#slide1:hover~.controls>label:nth-of-type(1)>span,
#slide2:hover~.controls>label:nth-of-type(2)>span,
#slide3:hover~.controls>label:nth-of-type(3)>span,
#slide4:hover~.controls>label:nth-of-type(4)>span,
#slide5:hover~.controls>label:nth-of-type(5)>span {
   border: 1px solid #fff;
}

#slide1:checked~.slider>.item1,
#slide2:checked~.slider>.item2,
#slide3:checked~.slider>.item3,
#slide4:checked~.slider>.item4,
#slide5:checked~.slider>.item5 {
   width: 640px;
   height: 500px;
   opacity: 1;
}

#slide1:checked~.slider>.item1 p,
#slide2:checked~.slider>.item2 p,
#slide3:checked~.slider>.item3 p,
#slide4:checked~.slider>.item4 p,
#slide5:checked~.slider>.item5 p {
   opacity: 1;
}